<header class="flex">
  <h1><a href="/users/dashboard">KnowledgeBase</a></h1>
  <nav>
    <ul class="flex">
      <form action="/users/dashboard/notes/search-results" method="GET">
        <input
          id="searchInput"
          type="text"
          placeholder="Search.."
          autocomplete="off"
          name="query"
        />
        <ul id="searchResults"></ul>
      </form>
      <li><a href="/users/profile">Profile</a></li>
      <li><a href="/users/dashboard/notes">Notes</a></li>
      <li class="dropdown">
        <a href="#">Theme</a>
        <div id="color-options">
          <ul class="dropdown-menu">
            <div id="color-options">
              <button class="color-button" id="white"></button>
              <button class="color-button" id="black"></button>
              <button class="color-button" id="red"></button>
              <button class="color-button" id="blue"></button>
              <button class="color-button" id="green"></button>
              <button class="color-button" id="orange"></button>
              <button class="color-button" id="purple"></button>
            </div>
          </ul>
        </div>
      </li>
      <li><a href="/users/logout">Logout</a></li>
    </ul>
  </nav>
</header>
