<header class="flex">
    <h1><a href="/users/dashboard">KnowledgeBase</a></h1>
    <nav>
        <ul class="flex">
            <form action="/users/dashboard/notes/search" method="get">
                <input type="text" name="query" placeholder="Search notes..." />
                <button type="submit">Search</button>
            </form>
            <li><a href="/users/dashboard/notes">Notes</a></li>
            <li><a href="#">Achievements</a></li>
            <li><a href="/users/logout">Logout</a></li>
            <button id="dark-mode-toggle" class="dark-mode-toggle">
                <img src="/images/dark-mode.svg">
            </button>
        </ul>
    </nav>
</header>