<header class="flex">
  <h1>KnowledgeBase</h1>
  <nav>
    <ul class="flex">
      <li><a href="/">Home</a></li>
      <li><a href="/users/login">Login</a></li>
      <button id="dark-mode-toggle" class="dark-mode-toggle">
        <img src="/images/dark-mode.svg" />
      </button>
    </ul>
  </nav>
</header>
