<header class="flex">
  <h1>KnowledgeBase</h1>
  <nav>
    <ul class="flex">
      <li><a href="/">Home</a></li>
      <li><a href="/users/login">Login</a></li>
      <li class="dropdown">
        <a href="#">Theme</a>
        <div id="color-options">
        <ul class="dropdown-menu">
          <div id="color-options">
            <button class="color-button" id="white"></button>
            <button class="color-button" id="black"></button>
            <button class="color-button" id="red"></button>
            <button class="color-button" id="blue"></button>
            <button class="color-button" id="green"></button>
            <button class="color-button" id="orange"></button>
            <button class="color-button" id="purple"></button>
          </div>
        </ul>
      </div>
      </li>
    </ul>
  </nav>
</header>