<header class="flex">
  <h1>KnowledgeBase</h1>
  <nav>
    <ul class="flex">
      <li><a href="/">Home</a></li>
      <li><a href="/users/login">Login</a></li>
      <li class="dropdown">
        <a href="#">Theme</a>
        <ul class="dropdown-menu">
          <li><button id="red-mode-toggle" class="red-mode-toggle">
              <img src="/images/dark-mode.svg">
            </button></li>
          <li><button id="orange-mode-toggle" class="orange-mode-toggle">
              <img src="/images/dark-mode.svg">
            </button></li>
          <li><button id="green-mode-toggle" class="green-mode-toggle">
              <img src="/images/dark-mode.svg">
            </button></li>
          <li><button id="blue-mode-toggle" class="blue-mode-toggle">
              <img src="/images/dark-mode.svg">
            </button></li>
          <li><button id="purple-mode-toggle" class="purple-mode-toggle">
              <img src="/images/dark-mode.svg">
            </button></li>
        </ul>
      </li>
      <button id="dark-mode-toggle" class="dark-mode-toggle">
        <img src="/images/dark-mode.svg" />
      </button>

    </ul>
  </nav>
</header>