<header class="flex">
    <h1>KnowledgeBase</h1>
    <nav>
        <ul class="flex">
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Sign up</a></li>
        </ul>
        <button id="dark-mode-toggle" class="dark-mode-toggle">Click!</button>
    </nav>
</header>