<header class="flex">
    <h1>KnowledgeBase</h1>
    <nav>
        <ul class="flex">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>