*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

:root {
  --clr-dark: black;
  --clr-light: white;
}
.darkmode {
  background-color: var(--clr-dark);
  color: white;
}

body.darkmode a {
  color: white;
}

body {
  font-family: "Roboto Mono", monospace;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.display {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
