<div class="container">
  <p>Welcome to KnowledgeBase!</p>
  <div class="userContainer">
    <img id="userImage" src="<%= profileImage %>" alt="Profile Image">
    <p class="userName">
      <%= user.charAt(0).toUpperCase() + user.slice(1)%>
    </p>
    <div class="buttonContainer">
      <button id="editPhotoButton">Edit profile photo</button>
      <form id="editPhotoForm" action="/users/upload" method="POST" enctype="multipart/form-data">
        <input id="inputImage" type="file" name="avatar" accept="image/*">
        <button id="changePhoto" type="submit">Save</button>
      </form>
      <form id="deletePhoto" action="/users/delete" method="POST">
        <button id="deleteButton">Delete photo</button>
      </form>
    </div>
    <p>
      <%= welcomeText %>
    </p>
  </div>
</div>


<script>
  const editPhotoButton = document.getElementById("editPhotoButton");
  const deletePhotoForm = document.getElementById("deletePhoto");

  editPhotoButton.addEventListener("click", function() {
    const buttonContainer = document.querySelector(".buttonContainer");
    if (deletePhotoForm.style.display === "none") {
      deletePhotoForm.style.display = "block";
      buttonContainer.style.flexDirection = "column";
    } else {
      deletePhotoForm.style.display = "none";
      buttonContainer.style.flexDirection = "row";
    }
  });
</script>