<div class="container-card">
  <div class="card-form note">
    <form action="/users/dashboard/notes/<%= note.id %>/edit" method="POST">
      <fieldset class="centered-fieldset">
        <legend class="login-kb">Edit note</legend>
        <div class="item-container">
          <input type="text" name="title" value="<%= note.title %>" placeholder="Title" required /><br />

          <input type="text" name="category" value="<%= note.category %>" placeholder="Category" required /><br />
        </div>
        <textarea class="content" name="content" placeholder="Write here" required><%= note.content %></textarea><br />

        <input class="save-note" type="submit" value="Save" />
      </fieldset>
    </form>
    <div></div>
  </div>
</div>