<section class="hidden">
    <img src="images/undraw_notebook_re_id0r.svg">
    <h1>Hello World</h1>
    <p>This is a test</p>
</section>
<section class="hidden">
    <img src="images/undraw_multitasking_re_ffpb.svg">
    <h1>Hello World</h1>
    <p>This is a test</p>
</section>
<section class="hidden">
    <h1>Hello World</h1>
    <p>This is a test</p>
</section>
<section class="hidden">
    <h1>Hello World</h1>
    <p>This is a test</p>
</section>