<section class="hidden">
    <h1>Hello World</h1>
    <p>This is a test</p>
</section>
<section class="hidden">
    <h1>Hello World</h1>
    <p>This is a test</p>
</section>
<section class="hidden">
    <h1>Hello World</h1>
    <p>This is a test</p>
</section>
<section class="hidden">
    <h1>Hello World</h1>
    <p>This is a test</p>
</section>