<section class="hidden">
    <img src="images/undraw_1.svg">
    <h1>KnowledgeBase</h1>
    <a href="/users/register">Register!</a>
</section>
<section class="hidden">
    <img src="images/undraw_2.svg">
    <h1>Hello World</h1>
    <p>This is a test</p>
</section>
<section class="hidden">
    <h1>Hello World</h1>
    <p>This is a test</p>
</section>
<section class="hidden">
    <h1>Hello World</h1>
    <p>This is a test</p>
</section>