<form action="/users/login" method="POST">
    <fieldset>
        <legend>Sign In to KnowledgeBase</legend>
        <input type="text" id="username" name="username" placeholder="Username" required>
        <input type="password" id="password" class="space" name="password" placeholder="Password" required>
        <input type="submit" value="Sign In">
    </fieldset>
</form>

<a href="/users/register">Not a member?</a>