<form action="/users/login" method="POST">
    <input type="text" id="username" name="username" placeholder="Username" required>
    <input type="password" id="password" class="space" name="password" placeholder="Password" required>
    <button type="submit">Log in</button>
</form>

<a href="register">Not already signed up?</a>