<form action="/users/login" method="POST">
    <fieldset>
        <legend>Sign In to KnowledgeBase</legend>
        <input type="text" id="username" name="username" placeholder="Username" required>
        <input type="password" id="password" class="space" name="password" placeholder="Password" required>
        <input type="submit" value="Sign In">
    </fieldset>
</form>
<% if (messages.error && messages.error.length> 0) { %>
    <div class="alert alert-danger" role="alert">
        <%= messages.error[0] %>
    </div>
    <% } %>

        <% if (messages.success && messages.success.length> 0) { %>
            <div class="alert alert-success" role="alert">
                <%= messages.success[0] %>
            </div>
            <% } %>


                <a href="/users/register">Not a member?</a>