<div class="container-card">
    <div class="card-form">
        <form action="/users/login" method="POST">
            <fieldset>
                <legend class="login-kb">Sign In to KnowledgeBase</legend>
                <input type="text" id="username" name="username" placeholder="Username" required>
                <input type="password" id="password" class="space" name="password" placeholder="Password" required>
                <input class="submit" type="submit" value="Sign In">
            </fieldset>
        </form>
        <% if (messages.error && messages.error.length> 0) { %>
            <div>
                <%= messages.error[0] %>
            </div>
            <% } %>
                <p>━━━━━━━━━━━━━━━━ Or ━━━━━━━━━━━━━━━━</p>
                <p class="sign-today">Not a member? sign up today</p>
                <a class="not-member" href="/users/register">Sign up</a>
    </div>
</div>