<form action="/users/dashboard/notes/add" method="POST">
    <fieldset>
        <legend>Write note</legend>
        <input type="text" id="title" name="title" placeholder="Title" required />
        <input type="text" id="category" name="category" placeholder="category" required />
        <textarea id="content" name="content" cols="30" rows="10"></textarea>
        <input type="submit" value="Submit" />
    </fieldset>
</form>