<form action="/users/register" method="POST">
    <fieldset>
        <legend>Register an account</legend>
        <input type="text" id="username" name="username" placeholder="Username" required>
        <input type="password" id="password" class="space" name="password" placeholder="Password" required>
        <input type="password" id="password2" name="password2" placeholder="Confirm password" required>
        <input type="submit" value="Sign Up">
    </fieldset>
</form>
<ul>
    <% if (typeof errors !=='undefined' ) { %>
        <% errors.forEach(error=> { %>
            <li>
                <%= error.message %>
            </li>
            <% }); %>
                <% } %>
</ul>


<a href="/users/login">Already signed up?</a>