<div class="container">
    <h1>Search Results</h1>
    <% if (results.length> 0) { %>
        <ul>
            <% results.forEach((note)=> { %>
                <li><a href="<%= note.link %>">
                        <%= note.title %>
                    </a></li>
                <% }); %>
        </ul>
        <% } else { %>
            <p>No results found.</p>
            <% } %>
</div>