<div class="container-card">
  <div class="card-form note">
    <div class="col-md-12">
      <legend class="login-kb">
        <%= note.title %>
      </legend>
<div class="content"> <p>
  <%= note.content %>
</p></div>
     
      <div class="edit-delete">
        <a class="edit-note" href="/users/dashboard/notes/<%= note.id %>/edit" class="btn btn-secondary">Edit</a>
        <form class="delete-btn" method="POST" action="/users/dashboard/notes/<%= note.id %>">
          <input class="save-note" type="submit" value="Delete" />
      </div>
      </form>
    </div>
  </div>
</div>